 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
 
 /* nav section */
 
 nav{
   display: flex;
   justify-content: space-between;
 }

 nav h1{
    color: #0D1321;
font-family: "Azeret Mono";
font-size: 28px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 140px;
margin-top: 35px;
 }

 nav .btn-nav{
    margin-top: 25px;
    border-radius: 8px;
   background: #fefefe;
    opacity: 0.8;
    padding: 17px 24px;
    margin-right: 140px;
 }

 nav .btn-nav span{
    color: #0D1321;
text-align: center;
font-family: "Azeret Mono";
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }

  /* hero section */
 .hero{
    background:  
    url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
   /* color: #fff; */
   width:1550px;
   height: 652px;
   margin-top: 36px;

 }
 .hero-content{
    text-align: center;
    padding-top: 30px;
    width: 998px;
    margin-left: 200px;
 }

 .hero-content h1{
    color: #0D1321;
text-align: center;
font-family: "Azeret Mono";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: 68px; /* 141.667% */
 }
 .hero-content p{
    color: #0D1321;
text-align: center;
font-family: "Azeret Mono";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-left: 35px;
 }

 .hero-content button { 
 padding: 21px 24px;
 border-radius: 8px;
 background: #0D1321;
 }


 .hero-content button span{
    color: #FFF;
text-align: center;
font-family: "Azeret Mono";
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }

/* why development section */

.why-development{
    width: 1150px;
    height: 1340px;
    border-radius: 16px;
   background: rgba(13, 19, 33, 0.02);
   margin-left: 150px;
}